*, ::before, ::after {
  margin: 0;
  box-sizing: border-box;
}

li, ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

a.card_bottom_content, a.header_arrow {

  color: #000;
}

body {
  font-family: $font-base;
  font-size: $font-size-default;
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_logo {
    width: 100%;
    position: relative;
    height: 4rem;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &_location {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $grey;
    padding: 1rem 0;

    p {
      padding-left: .5rem;
      font-weight: 400;
      font-size: 1rem;
    }
  }
}

.banner {
  background-color: $light-grey;
  padding-bottom: 2.5rem;

  &_title {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    max-width: 80%;
    margin: 0 auto;
  }

  &_intro {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 300;
    padding-bottom: 1.5rem;
  }

  &_btn {
    @include btn-gradient;
    padding: 1rem 1.1rem;
    margin: 0 auto;
  }
}

.steps {
  padding: 2.5rem 1.3rem;


  &_title {
    padding-bottom: 1.5rem;
    @media (min-width: 820px){
      display: none;
    }
  }

  .step {
    display: flex;
    align-items: center;
    width: calc(100% - .8rem);
    background-color: $light-grey;
    padding: 1.7rem 0 1.3rem 2rem;
    border-radius: 20px;
    box-shadow: $shadow;
    position: relative;
    margin: 0 0 1.5rem .8rem;
    transition: all .3s ease;

    &_icon {
      padding-right: 1.5rem;
      font-size: 1.1rem;
      color: $dark-grey;
    }

    &_title {
      font-weight: 500;
      font-size: .9rem;
    }

    &_number {
      position: absolute;
      top: 50%;
      left: -.7rem;
      color: #FFFFFF;
      background-color: $purple;
      border-radius: 50px;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-50%);
    }

    &:hover {
      background-color: $light-purple;

      .step_icon {
        color: $purple;
      }
    }
  }

  @media (min-width: 820px) {
      display: flex;
      gap: 2rem;
      width: 80vw;
      margin: 0 auto;

  }
}

.restaurants {
  padding: 2.5rem 1.3rem;
  background-color: $light-grey;

  .restaurants_cards {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;

    .card {
      display: flex;
      flex-direction: column;
      height: 10%;
      border-radius: 20px;
      background: #FFFFFF;
      position: relative;
      margin-bottom: 1.5rem;
      box-shadow: $shadow;

      &:last-child {
        margin-bottom: 0;
      }

      &_img {
        height: 25vh;
        overflow: hidden;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        object-position: center bottom;
      }

      &_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        position: relative;

        &_content {
          &_title {
            font-size: 1.1rem;
            font-weight: 700;
            padding-bottom: .5rem;
          }

          &_location {
            font-size: 1rem;
            font-weight: 300;
          }
        }

        &_icon {
          @include heart_icon;
          .fa-heart{
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
          }

        }

      }

      .new_label {
        color: $green;
        font-weight: 500;
        background-color: $light-green;
        padding: .5rem .8rem;
        width: fit-content;
        border-radius: 5px;
        position: absolute;
        right: 1rem;
        top: 1rem;
        box-shadow: $shadow;
      }

    }

    @media (min-width: 820px){
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;

      .card{
        width: 33.3%;
      }

    }
  }

  @media (min-width: 820px){
    .restaurants_title{
      text-align: center;
    }

  }

  .elem-2 {
    .card_img {
      object-fit: cover;
      object-position: center center;
    }
  }
}



// À la Française

.page-menu {

  .container {
    padding: 2rem 1rem;
    position: relative;
    @media (min-width: 820px){
      padding: 3rem;
    }
  }



  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    position: relative;

    &_arrow {
      font-size: 1.3rem;
      padding-left: .3rem;
    }
  }

  .banner {
    width: 100%;
    height: 35vh;
    padding: 0;
    position: absolute;
    z-index: -1;
    @media (min-width: 820px){
      height: 45vh;
    }

    &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .main {
    .carte {
      margin-top: 30vh;
      background-color: $light-grey;
      width: 100%;
      border-radius: 40px 40px 0 0;

      @media (min-width: 820px){
        margin-top: 40vh;
      }

      &_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2.5rem;

        .title {
          font-family: $font-alt;
        }

        .icon {
          .fa-heart{
            top: 3rem;
            right: 1.5rem;
            transform: translateY(-50%);
          }
          @include heart_icon;
        }
      }

      .entrees{
        margin-bottom: 2rem;

        &_title{
          @include section-title;
        }

        .menu-item{
          @include menu-item;
        }

        @media (min-width: 820px){
          width: 40vw;
          margin: 0 auto;
        }
      }

      .plats{
        margin-bottom: 2rem;
        &_title{
          @include section-title;
        }

        .menu-item{
          @include menu-item;
        }

        @media (min-width: 820px){
          width: 40vw;
          margin: 0 auto;
        }
      }

      .desserts{
        margin-bottom: 3rem;
        &_title{
          @include section-title;
        }

        .menu-item{
          @include menu-item;
        }

        @media (min-width: 820px){
          width: 40vw;
          margin: 0 auto;
        }
      }


      .btn {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 3rem;

        a {
          @include btn-gradient;
          padding: 1rem 2.5rem;
        }
      }
    }
  }
}


.footer {
  padding: 1.5rem 1.3rem;
  background-color: $light-black;

  &_logo {
    width: 30%;
    padding-bottom: 1rem;
    @media (min-width: 820px){
      width: 10%;
    }
  }

  &_links {
    .link {
      font-size: .9rem;
      padding-bottom: .5rem;
      display: flex;
      align-items: center;

      i {
        padding-right: .7rem;
        color: #FFFFFF;
      }

      .fa-handshake {
        transform: rotate(-30deg);
        font-size: .63rem;
      }
    }
  }
}


