@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
@keyframes loader-anim {
  0% {
    transform: translate(-50%, -40%) scale(0.5);
    opacity: 1;
  }
  25% {
    transform: translate(-50%, -40%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -40%) scale(0.5);
    opacity: 1;
    display: flex;
  }
  100% {
    transform: translate(-50%, -40%) scale(1);
    opacity: 0;
  }
}
@keyframes apparition {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
h1 {
  font-family: Roboto, sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 820px) {
  h2 {
    font-size: 1.8rem;
    padding-bottom: 2rem;
  }
}

*, ::before, ::after {
  margin: 0;
  box-sizing: border-box;
}

li, ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

a.card_bottom_content, a.header_arrow {
  color: #000;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_logo {
  width: 100%;
  position: relative;
  height: 4rem;
}
.header_logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header_location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #EAEAEA;
  padding: 1rem 0;
}
.header_location p {
  padding-left: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
}

.banner {
  background-color: #F6F6F6;
  padding-bottom: 2.5rem;
}
.banner_title {
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  max-width: 80%;
  margin: 0 auto;
}
.banner_intro {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 300;
  padding-bottom: 1.5rem;
}
.banner_btn {
  text-align: center;
  background: linear-gradient(180deg, #ef74da 17%, #9d5adc 94%);
  width: fit-content;
  font-size: 1.1rem;
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s ease;
  padding: 1rem 1.1rem;
  margin: 0 auto;
}
.banner_btn:hover {
  background: linear-gradient(180deg, rgba(239, 116, 218, 0.9) 17%, rgba(157, 90, 220, 0.9) 94%);
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  cursor: pointer;
}

.steps {
  padding: 2.5rem 1.3rem;
}
.steps_title {
  padding-bottom: 1.5rem;
}
@media (min-width: 820px) {
  .steps_title {
    display: none;
  }
}
.steps .step {
  display: flex;
  align-items: center;
  width: calc(100% - .8rem);
  background-color: #F6F6F6;
  padding: 1.7rem 0 1.3rem 2rem;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  margin: 0 0 1.5rem 0.8rem;
  transition: all 0.3s ease;
}
.steps .step_icon {
  padding-right: 1.5rem;
  font-size: 1.1rem;
  color: #7E7E7E;
}
.steps .step_title {
  font-weight: 500;
  font-size: 0.9rem;
}
.steps .step_number {
  position: absolute;
  top: 50%;
  left: -0.7rem;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 50px;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.steps .step:hover {
  background-color: #F5EDFF;
}
.steps .step:hover .step_icon {
  color: #9356DC;
}
@media (min-width: 820px) {
  .steps {
    display: flex;
    gap: 2rem;
    width: 80vw;
    margin: 0 auto;
  }
}

.restaurants {
  padding: 2.5rem 1.3rem;
  background-color: #F6F6F6;
}
.restaurants .restaurants_cards {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}
.restaurants .restaurants_cards .card {
  display: flex;
  flex-direction: column;
  height: 10%;
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.restaurants .restaurants_cards .card:last-child {
  margin-bottom: 0;
}
.restaurants .restaurants_cards .card_img {
  height: 25vh;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: center bottom;
}
.restaurants .restaurants_cards .card_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
}
.restaurants .restaurants_cards .card_bottom_content_title {
  font-size: 1.1rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}
.restaurants .restaurants_cards .card_bottom_content_location {
  font-size: 1rem;
  font-weight: 300;
}
.restaurants .restaurants_cards .card_bottom_icon:hover .fas {
  opacity: 1;
}
.restaurants .restaurants_cards .card_bottom_icon:hover .far {
  opacity: 0;
}
.restaurants .restaurants_cards .card_bottom_icon .fa-heart {
  position: absolute;
  font-size: 24px;
  will-change: opacity;
  transition: opacity 0.3s ease;
}
.restaurants .restaurants_cards .card_bottom_icon .fas {
  opacity: 0;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg, #ef74da 17%, #9d5adc 94%);
  -webkit-text-fill-color: transparent;
}
.restaurants .restaurants_cards .card_bottom_icon .far {
  z-index: 1;
}
.restaurants .restaurants_cards .card_bottom_icon .fa-heart {
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
.restaurants .restaurants_cards .card .new_label {
  color: #2A8766;
  font-weight: 500;
  background-color: #99E2D0;
  padding: 0.5rem 0.8rem;
  width: fit-content;
  border-radius: 5px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media (min-width: 820px) {
  .restaurants .restaurants_cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  .restaurants .restaurants_cards .card {
    width: 33.3%;
  }
}
@media (min-width: 820px) {
  .restaurants .restaurants_title {
    text-align: center;
  }
}
.restaurants .elem-2 .card_img {
  object-fit: cover;
  object-position: center center;
}

.loader {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 20rem;
  height: 20rem;
  background: linear-gradient(180deg, #ef74da 17%, #9d5adc 94%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loader-anim 3s;
  transform-origin: center;
  opacity: 0;
  pointer-events: none;
}

.page-menu .container {
  padding: 2rem 1rem;
  position: relative;
}
@media (min-width: 820px) {
  .page-menu .container {
    padding: 3rem;
  }
}
.page-menu .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  position: relative;
}
.page-menu .header_arrow {
  font-size: 1.3rem;
  padding-left: 0.3rem;
}
.page-menu .banner {
  width: 100%;
  height: 35vh;
  padding: 0;
  position: absolute;
  z-index: -1;
}
@media (min-width: 820px) {
  .page-menu .banner {
    height: 45vh;
  }
}
.page-menu .banner_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.page-menu .main .carte {
  margin-top: 30vh;
  background-color: #F6F6F6;
  width: 100%;
  border-radius: 40px 40px 0 0;
}
@media (min-width: 820px) {
  .page-menu .main .carte {
    margin-top: 40vh;
  }
}
.page-menu .main .carte_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.5rem;
}
.page-menu .main .carte_head .title {
  font-family: Shrikhand, serif;
}
.page-menu .main .carte_head .icon .fa-heart {
  top: 3rem;
  right: 1.5rem;
  transform: translateY(-50%);
}
.page-menu .main .carte_head .icon:hover .fas {
  opacity: 1;
}
.page-menu .main .carte_head .icon:hover .far {
  opacity: 0;
}
.page-menu .main .carte_head .icon .fa-heart {
  position: absolute;
  font-size: 24px;
  will-change: opacity;
  transition: opacity 0.3s ease;
}
.page-menu .main .carte_head .icon .fas {
  opacity: 0;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg, #ef74da 17%, #9d5adc 94%);
  -webkit-text-fill-color: transparent;
}
.page-menu .main .carte_head .icon .far {
  z-index: 1;
}
.page-menu .main .carte .entrees {
  margin-bottom: 2rem;
}
.page-menu .main .carte .entrees_title {
  text-transform: uppercase;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  position: relative;
  width: fit-content;
  margin-bottom: 1.5rem;
}
.page-menu .main .carte .entrees_title::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 60%;
  height: 3px;
  background-color: #99E2D0;
}
.page-menu .main .carte .entrees .menu-item {
  display: flex;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s ease;
  animation-name: apparition;
  animation-duration: 1s;
}
.page-menu .main .carte .entrees .menu-item:hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}
.page-menu .main .carte .entrees .menu-item:hover .menu-item_select {
  margin-right: -1rem;
}
.page-menu .main .carte .entrees .menu-item:hover .menu-item_select .fa-check-circle {
  transform: rotate(0);
}
.page-menu .main .carte .entrees .menu-item_header {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  flex: 1;
}
.page-menu .main .carte .entrees .menu-item_header .title {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
}
.page-menu .main .carte .entrees .menu-item_header .subtitle {
  font-size: 0.9rem;
  font-weight: 300;
}
.page-menu .main .carte .entrees .menu-item_price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
  font-weight: 700;
}
.page-menu .main .carte .entrees .menu-item_select {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  width: 4rem;
  margin: -1rem -5rem -1rem 1rem;
  transition: margin 0.3s ease;
}
.page-menu .main .carte .entrees .menu-item_select .fa-check-circle {
  color: #FFF;
  font-size: 1.3rem;
  transform: rotate(180deg);
  transition: transform 0.3s ease 0.1s;
}
@media (min-width: 820px) {
  .page-menu .main .carte .entrees {
    width: 40vw;
    margin: 0 auto;
  }
}
.page-menu .main .carte .plats {
  margin-bottom: 2rem;
}
.page-menu .main .carte .plats_title {
  text-transform: uppercase;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  position: relative;
  width: fit-content;
  margin-bottom: 1.5rem;
}
.page-menu .main .carte .plats_title::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 60%;
  height: 3px;
  background-color: #99E2D0;
}
.page-menu .main .carte .plats .menu-item {
  display: flex;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s ease;
  animation-name: apparition;
  animation-duration: 1s;
}
.page-menu .main .carte .plats .menu-item:hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}
.page-menu .main .carte .plats .menu-item:hover .menu-item_select {
  margin-right: -1rem;
}
.page-menu .main .carte .plats .menu-item:hover .menu-item_select .fa-check-circle {
  transform: rotate(0);
}
.page-menu .main .carte .plats .menu-item_header {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  flex: 1;
}
.page-menu .main .carte .plats .menu-item_header .title {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
}
.page-menu .main .carte .plats .menu-item_header .subtitle {
  font-size: 0.9rem;
  font-weight: 300;
}
.page-menu .main .carte .plats .menu-item_price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
  font-weight: 700;
}
.page-menu .main .carte .plats .menu-item_select {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  width: 4rem;
  margin: -1rem -5rem -1rem 1rem;
  transition: margin 0.3s ease;
}
.page-menu .main .carte .plats .menu-item_select .fa-check-circle {
  color: #FFF;
  font-size: 1.3rem;
  transform: rotate(180deg);
  transition: transform 0.3s ease 0.1s;
}
@media (min-width: 820px) {
  .page-menu .main .carte .plats {
    width: 40vw;
    margin: 0 auto;
  }
}
.page-menu .main .carte .desserts {
  margin-bottom: 3rem;
}
.page-menu .main .carte .desserts_title {
  text-transform: uppercase;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  position: relative;
  width: fit-content;
  margin-bottom: 1.5rem;
}
.page-menu .main .carte .desserts_title::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 60%;
  height: 3px;
  background-color: #99E2D0;
}
.page-menu .main .carte .desserts .menu-item {
  display: flex;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s ease;
  animation-name: apparition;
  animation-duration: 1s;
}
.page-menu .main .carte .desserts .menu-item:hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}
.page-menu .main .carte .desserts .menu-item:hover .menu-item_select {
  margin-right: -1rem;
}
.page-menu .main .carte .desserts .menu-item:hover .menu-item_select .fa-check-circle {
  transform: rotate(0);
}
.page-menu .main .carte .desserts .menu-item_header {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  flex: 1;
}
.page-menu .main .carte .desserts .menu-item_header .title {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
}
.page-menu .main .carte .desserts .menu-item_header .subtitle {
  font-size: 0.9rem;
  font-weight: 300;
}
.page-menu .main .carte .desserts .menu-item_price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
  font-weight: 700;
}
.page-menu .main .carte .desserts .menu-item_select {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  width: 4rem;
  margin: -1rem -5rem -1rem 1rem;
  transition: margin 0.3s ease;
}
.page-menu .main .carte .desserts .menu-item_select .fa-check-circle {
  color: #FFF;
  font-size: 1.3rem;
  transform: rotate(180deg);
  transition: transform 0.3s ease 0.1s;
}
@media (min-width: 820px) {
  .page-menu .main .carte .desserts {
    width: 40vw;
    margin: 0 auto;
  }
}
.page-menu .main .carte .btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.page-menu .main .carte .btn a {
  text-align: center;
  background: linear-gradient(180deg, #ef74da 17%, #9d5adc 94%);
  width: fit-content;
  font-size: 1.1rem;
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s ease;
  padding: 1rem 2.5rem;
}
.page-menu .main .carte .btn a:hover {
  background: linear-gradient(180deg, rgba(239, 116, 218, 0.9) 17%, rgba(157, 90, 220, 0.9) 94%);
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  cursor: pointer;
}

.footer {
  padding: 1.5rem 1.3rem;
  background-color: #353535;
}
.footer_logo {
  width: 30%;
  padding-bottom: 1rem;
}
@media (min-width: 820px) {
  .footer_logo {
    width: 10%;
  }
}
.footer_links .link {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.footer_links .link i {
  padding-right: 0.7rem;
  color: #FFFFFF;
}
.footer_links .link .fa-handshake {
  transform: rotate(-30deg);
  font-size: 0.63rem;
}

/*# sourceMappingURL=style.css.map */
